@import "./reset.scss";

body {
	color: var(--black);
	font-family: "Noto Sans", sans-serif;
	background: #F5F6F8;
}

:root {
	--black: #3b434e;
	--white: white;
	--primary: #7653fc;
	--red: #fc836d;
	--green: #1dc37e;
	--green-light: #c8f8e4;
}
