.input {
	display: block;

	padding: 10px 15px;

	color: var(--black);
	border-radius: 5px;
	box-shadow: 0 4px 4px rgb(0 0 0 / 5%);

	font-size: 16px;
	line-height: 22px;

	&::placeholder {
		color: #A4A4A4;
	}
}
