@import "../../styles/breakpoints";

.footer {
	padding: 25px 30px;

	color: var(--white);
	background-color: var(--primary);
}

.container {
	display: grid;
	grid-template-columns: 1fr auto auto;
	gap: 10px 40px;

	@include mobile {
		grid-template-columns: 1fr;
	}
}
