@import "../styles/breakpoints";

.wrapper {
	display: grid;

	min-height: 100vh;

	gap: 0 30px;
	grid-template-areas:
		". header header ." auto
		". sidebar body ." auto
		"footer footer footer footer" auto/auto 230px minmax(320px, 1200px) auto;
}

.header {
	grid-area: header;

	display: none;
}

.sidebar {
	grid-area: sidebar;
}

.body {
	grid-area: body;
}

.footer {
	grid-area: footer;
}

@include mobile {
	.wrapper {
		grid-template-columns: minmax(320px, 1fr);
		grid-template-areas:
			"header"
			"body"
			"footer";
	}

	.sidebar {
		display: none;
	}

	.header {
		display: block;
	}
}
